In [4]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

# создаем объект Series, состоящий из четырех элементов 
s = pd.Series([1, 2, 3, 4]) 
# show 
s
# получаем значение для метки индекса 1 
s[1]
# возвращаем серию с элементами, 
# у которых метки 1 и 3 
s[[1,3]]
# создаем серию, задав индекс в явном виде 
b = pd.Series([1,2,3,4],index = ['a','b','c','d'])
# ищем элементы серии, у которых # метки индекса 'a' и 'd
b[['a','d']]
# извлекаем только индекс объекта Serie
b.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
# создаем объект Series, индекс которого - серия дат 
# между двумя определенными датами (включительно) 
dates = pd.date_range("2022-10-01","2022-10-08")
dates

DatetimeIndex(['2022-10-01', '2022-10-02', '2022-10-03', '2022-10-04',
               '2022-10-05', '2022-10-06', '2022-10-07', '2022-10-08'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# создаем объект Series, в котором значениям температуры 
# будут соответствовать даты в индексе

temp1 = pd.Series([45,55,65,43,59,69,55,57], index=dates)
temp1

2022-10-01    45
2022-10-02    55
2022-10-03    65
2022-10-04    43
2022-10-05    59
2022-10-06    69
2022-10-07    55
2022-10-08    57
Freq: D, dtype: int64

In [7]:
# какая температура была 2022-10-04? 
temp1['2022-10-04']

43

In [8]:
temp2 = pd.Series([55,59,69,49,69,79,35,52], index=dates)
temp2

2022-10-01    55
2022-10-02    59
2022-10-03    69
2022-10-04    49
2022-10-05    69
2022-10-06    79
2022-10-07    35
2022-10-08    52
Freq: D, dtype: int64

In [9]:
# операции
result = temp1 - temp2
result

2022-10-01   -10
2022-10-02    -4
2022-10-03    -4
2022-10-04    -6
2022-10-05   -10
2022-10-06   -10
2022-10-07    20
2022-10-08     5
Freq: D, dtype: int64

In [10]:
# вычисляем среднее значение разности температур 
result.mean()

-2.375

In [11]:
# DataFrame
temps_df = pd.DataFrame({"City_one":temp1,
                       "City_two":temp2})
temps_df

            City_one  City_two
2022-10-01        45        55
2022-10-02        55        59
2022-10-03        65        69
2022-10-04        43        49
2022-10-05        59        69
2022-10-06        69        79
2022-10-07        55        35
2022-10-08        57        52

In [12]:
# получаем столбец
temps_df['City_one']

2022-10-01    45
2022-10-02    55
2022-10-03    65
2022-10-04    43
2022-10-05    59
2022-10-06    69
2022-10-07    55
2022-10-08    57
Freq: D, Name: City_one, dtype: int64

In [13]:
# выводим оба столбца 
temps_df[['City_one', 'City_two']]

            City_one  City_two
2022-10-01        45        55
2022-10-02        55        59
2022-10-03        65        69
2022-10-04        43        49
2022-10-05        59        69
2022-10-06        69        79
2022-10-07        55        35
2022-10-08        57        52

In [14]:
# извлекаем столбец Missoula с помощью "вычисляемого" свойства 
temps_df.City_one

2022-10-01    45
2022-10-02    55
2022-10-03    65
2022-10-04    43
2022-10-05    59
2022-10-06    69
2022-10-07    55
2022-10-08    57
Freq: D, Name: City_one, dtype: int64

In [15]:
# вычисляем разницу температур двух городов
temps_df.City_one - temps_df.City_two

2022-10-01   -10
2022-10-02    -4
2022-10-03    -4
2022-10-04    -6
2022-10-05   -10
2022-10-06   -10
2022-10-07    20
2022-10-08     5
Freq: D, dtype: int64

In [16]:
# добавляем в датафрейм temp_df столбец Difference 
# который содержит разности температу

temps_df['Difference'] = result
temps_df

            City_one  City_two  Difference
2022-10-01        45        55         -10
2022-10-02        55        59          -4
2022-10-03        65        69          -4
2022-10-04        43        49          -6
2022-10-05        59        69         -10
2022-10-06        69        79         -10
2022-10-07        55        35          20
2022-10-08        57        52           5

In [17]:
# получаем имена столбцов, которые к тому же являются объектом Index 
temps_df.columns

Index(['City_one', 'City_two', 'Difference'], dtype='object')

In [18]:
#slice
# отбираем значения разностей температур в столбце Difference, начиная 
# с позиции 1 (2016-04-02) и заканчивая позицией 4 (2016-04-05), 
# как если бы это был массив 
# обратите внимание, что конец диапазона не включается, то есть 
# диапазон не включает элемент с позицией 4 (2016-04-05
temps_df.Difference[1:4]

2022-10-02   -4
2022-10-03   -4
2022-10-04   -6
Freq: D, Name: Difference, dtype: int64

In [19]:
# получаем строку, которой соответствует 
# метка индекса 1 
temps_df.iloc[1]

City_one      55
City_two      59
Difference    -4
Name: 2022-10-02 00:00:00, dtype: int64

In [20]:
# имена столбцов стали индексом, 
# мы "повернули" их 
temps_df.iloc[1].index

Index(['City_one', 'City_two', 'Difference'], dtype='object')

In [21]:
# извлекаем строку с помощью метки индекса, 
# воспользовавшись свойством .loc
temps_df.loc["2022-10-05"]

City_one      59
City_two      69
Difference   -10
Name: 2022-10-05 00:00:00, dtype: int64

In [22]:
# получаем значения столбца Difference в строках 1, 3 и 5, 
# используя целочисленные позиции с началом отсчета в 0 
temps_df.iloc[[1,3,5]].Difference

2022-10-02    -4
2022-10-04    -6
2022-10-06   -10
Freq: 2D, Name: Difference, dtype: int64

In [23]:
# bool
temps_df.City_one > 50

2022-10-01    False
2022-10-02     True
2022-10-03     True
2022-10-04    False
2022-10-05     True
2022-10-06     True
2022-10-07     True
2022-10-08     True
Freq: D, Name: City_one, dtype: bool

In [24]:
temps_df[temps_df.City_two > 55]

            City_one  City_two  Difference
2022-10-02        55        59          -4
2022-10-03        65        69          -4
2022-10-05        59        69         -10
2022-10-06        69        79         -10