In [1]:
import pandas as pd
import numpy as np

# cоздаем серию из списка
s = pd.Series([20,30,40,50])
s

0    20
1    30
2    40
3    50
dtype: int64

In [2]:
# получить значение в метке индекса 
s[3]

50

In [3]:
# серия из строк
cre_str = pd.Series(['Mike', 'Marcia', 'Mikael', 'Bleu'])
cre_str

0      Mike
1    Marcia
2    Mikael
3      Bleu
dtype: object

In [4]:
n_v = pd.Series([10]*4)
n_v

0    10
1    10
2    10
3    10
dtype: int64

In [5]:
# используем каждый символ в качестве значения 
use_list = pd.Series(list('abcd'))
use_list

0    a
1    b
2    c
3    d
dtype: object

In [6]:
# создаем объект Series из словаря 
use_dict = pd.Series({1:2,
            3:4,
            5:6})
use_dict

1    2
3    4
5    6
dtype: int64

In [7]:
# cоздаем с помощи Numpy
use_np = pd.Series(np.arange(2,10))

use_np

0    2
1    3
2    4
3    5
4    6
5    7
6    8
7    9
dtype: int64

In [8]:
# use pn.linspace
use_linspace = pd.Series(np.linspace(0,9,4))
use_linspace

0    0.0
1    3.0
2    6.0
3    9.0
dtype: float64

In [9]:
# use random
use_random = pd.Series(np.random.normal(size=6))
use_random

0    0.697621
1   -0.900678
2   -0.728924
3   -0.196928
4   -0.933755
5   -0.802418
dtype: float64

In [10]:
# cоздание Series с помощью скалярного
scl = pd.Series(np.arange(0,5))
scl * 5

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [11]:
df_values = pd.Series(
    (list('abcdfe')),
    index= np.arange(0,6))
# df_values
# get df_values with .values:
# df_values.values
type(df_values.values)

numpy.ndarray

In [12]:
df_values.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [13]:
# как определить размер:
# len
len(df_values)

6

In [14]:
# как определить размер:
# .size
df_values.size

6

In [15]:
# получить информацию можно так же при помощи .shape
# возвращает кортеж с одним значением 
df_values.shape

(6,)

In [16]:
# установка индекса во время создания обьекта Series 
labels = ['Mike', 'Marcia', 'Mikael', 'Bleu']
role = ['Dad', 'Mom', 'Son', 'Dog']
s = pd.Series(labels, index=role)
# Используем индекс
s['Dad']

'Mike'