In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Методы вывода значений .head() , .tail() , .take()

In [3]:
get_show = pd.Series(np.linspace(1,100,20),
                    index = np.arange(0,20))
get_show

0       1.000000
1       6.210526
2      11.421053
3      16.631579
4      21.842105
5      27.052632
6      32.263158
7      37.473684
8      42.684211
9      47.894737
10     53.105263
11     58.315789
12     63.526316
13     68.736842
14     73.947368
15     79.157895
16     84.368421
17     89.578947
18     94.789474
19    100.000000
dtype: float64

In [4]:
# выводим первые 5 строк 
get_show.head()

0     1.000000
1     6.210526
2    11.421053
3    16.631579
4    21.842105
dtype: float64

In [5]:
# выводим первые 3 строки
get_show.head(n = 3)

0     1.000000
1     6.210526
2    11.421053
dtype: float64

In [6]:
# выводим 5 последних 
get_show.tail()

15     79.157895
16     84.368421
17     89.578947
18     94.789474
19    100.000000
dtype: float64

In [8]:
get_show.tail(n = 3) 
# или get_show.tail(3)

17     89.578947
18     94.789474
19    100.000000
dtype: float64

In [9]:
# метод .take() вернет строки серии
get_show.take([1,3,10])

1      6.210526
3     16.631579
10    53.105263
dtype: float64

In [11]:
# Получение значений в объекте Series по метке или позиции
s = pd.Series(np.arange(10,15),
              index = list('abcsw'))
s

a    10
b    11
c    12
s    13
w    14
dtype: int64

In [36]:
# получаем значение с меткой 'a' 
s['a']

10

In [37]:
# чтобы сразу извлечь несколько элементов, воспользуйтесь списком меток индекса:
s[['a','b']]

a    10
b    11
dtype: int64

In [38]:
# получить значение передав список с позициями
s[[1,4]]

b    11
w    14
dtype: int64

In [39]:
s2 = pd.Series([1,2,3,4,5], index = [10,11,12,13,14])
# осуществляем поиск совпадений 
# с целочисленными метками 
# поиск по метке, а не по позиции 
s2[[11,13,14]]

11    2
13    4
14    5
dtype: int64

In [40]:
# must use для поиска .loc[] и .iloc[], которые явно осуществляют поиск по метке или позициии 
# поиск позиции с помощью свойства .iloc[]
get_show.iloc[[1,15]]

1      6.210526
15    79.157895
dtype: float64

In [41]:
s2.loc[[11,13,10]]

11    2
13    4
10    1
dtype: int64

In [44]:
# значение для несуществующей метки 
# будет значением NaN
s.reindex(['s','t'])

s    13.0
t     NaN
dtype: float64